body{
  background-color: #04293A;
  color: white;

}
.center{
  text-align: center;
}
h1{
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
}
.font{
  font-family: 'ABeeZee', sans-serif;
}
